
@{
    ViewBag.Title = "Index";
}

<h2>PauloBot</h2>
<div class="container">
    <div class="row text-center">
        <h2>IDGS904</h2>
        <div>
            Ola soi Paulo IDGS904
        </div>
        <h2>@ViewBag.Nombre</h2>
        <h2>@ViewBag.Titulo</h2>
    </div>
</div>